#score {
    text-align: center;
    font-size: 50px
}

#game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    background-color: grey;
    background-size: cover;
}

#dino {
    height: 75px;
    width: 75px;
    top: 165px;
    position: relative;
    background-image: url("dino.png");
    background-size: cover;
}

#cactus {
    width: 50px;
    height: 50px;
    position: relative;
    top: 115px;
    left: 550px;
    background-image: url("cactus.png");
    background-size: cover;
    animation: cactus 2s infinite;
}

#seagull {
    width: 50px;
    height: 50px;
    position: relative;
    top: 40px;
    left: 550px;
    background-image: url("seagull.png");
    background-size: cover;
    animation: seagull 3,5s infinite;
}

@keyframes cactus {
    0% {
        left: 550px;
    }
    100% {
        left: -50px;
    }
}

@keyframes seagull {
    0% {
        left: 550px;
    }
    100% {
        left: -50px;
    }
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0% {
        top: 165px;
    }
    50% {
        top: 15px;
    }
    75% {
        top: 15px;
    }
    100% {
        top: 165px;
    }
}